body{
  overflow-y: hidden;
  background-color: #d4d4d4;
}

.App{
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  width: 100vw;
  height: calc(100vh - 2vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh 0;
}
.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  color: rgb(46, 199, 54);
  height: 9vh;
}
.logo{
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.choose-name{
  display: flex;
  width: calc(100% - 40px);
  height: 6vh;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}
.input-text{
  width: 20%;
  margin: 10px 0;
}
.input-field{
  width: 80%;
  height: 30px;
  margin: auto 0;
}
.chat{
  width: calc(100% - 40px);
  height: 74vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ebebeb;
  overflow-y: auto;
  border: solid 3px #d4d4d4;
  border-radius: 10px;
}
.input-message{
  display: flex;
  width: calc(100% - 40px);
  height: 4vh;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.input-message-field{
  width: 85%;
  height: calc(100% - 2px - 4px)
}
.input-message-send{
  width: 10%;
  height: 100%
}
.message{
  margin: 5px;
  background-color: #ffffff;
  border: solid 2px #d4d4d4;
  border-radius: 8px;
  padding: 10px;
}
.message-name{
  margin: 0;
}
.message-text{
  margin: 2px 0;
}

@media (max-width: 600px) {
  .App{
    max-width: auto;
  }
  .App-header {
    font-size: 1em;
    height: 8vh;
  }
  .choose-name{
    flex-direction: column;
  }
  .input-text{
    width: 100%;
  }
  .input-field{
    width: calc(100% - 10px);
    height: 20px;
  }
  .chat{
    height: 60vh;
  }
  .input-message{
    height: 6vh;
    margin-bottom: 8vh;
  }
  .input-message-field{
    width: 60%;
  }
  .input-message-send{
    width: 30%;
  }
}